<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>BG4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{1280,720}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1280,720}}</string>
        <key>sourceSize</key>
        <string>{1280,720}</string>
      </dict>
      <key>Wheel-02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,0},{553,553}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,36},{553,553}}</string>
        <key>sourceSize</key>
        <string>{625,625}</string>
      </dict>
      <key>Jackpot-03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1833,0},{934,202}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{33,99},{934,202}}</string>
        <key>sourceSize</key>
        <string>{1000,400}</string>
      </dict>
      <key>OuterCircle.png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,553},{464,464}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,18},{464,464}}</string>
        <key>sourceSize</key>
        <string>{500,500}</string>
      </dict>
      <key>Arrow.png</key>
      <dict>
        <key>frame</key>
        <string>{{1744,553},{84,100}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,0},{84,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>Close.png</key>
      <dict>
        <key>frame</key>
        <string>{{1744,653},{76,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,12},{76,76}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>Spin.png</key>
      <dict>
        <key>frame</key>
        <string>{{1744,729},{97,44}}</string>
        <key>offset</key>
        <string>{-0.5,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,44}}</string>
        <key>sourceSize</key>
        <string>{98,45}</string>
      </dict>
      <key>Wheel.png</key>
      <dict>
        <key>frame</key>
        <string>{{1744,934},{238,238}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{31,31},{238,238}}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
      </dict>
      <key>InnerCircle.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1172},{460,460}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,20},{460,460}}</string>
        <key>sourceSize</key>
        <string>{500,500}</string>
      </dict>
      <key>shadowWheel-02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,720},{444,444}}</string>
        <key>offset</key>
        <string>{0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{91,91},{444,444}}</string>
        <key>sourceSize</key>
        <string>{625,625}</string>
      </dict>
      <key>Coin1.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,1017},{145,142}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,1},{145,142}}</string>
        <key>sourceSize</key>
        <string>{145,143}</string>
      </dict>
      <key>InnerArrow.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,720},{126,139}}</string>
        <key>offset</key>
        <string>{1,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,11},{126,139}}</string>
        <key>sourceSize</key>
        <string>{166,165}</string>
      </dict>
      <key>Spin-03.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,859},{132,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,9},{132,132}}</string>
        <key>sourceSize</key>
        <string>{150,150}</string>
      </dict>
      <key>Spin-07.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,720},{132,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,9},{132,132}}</string>
        <key>sourceSize</key>
        <string>{150,150}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>JackpotWheel.png</string>
      <key>size</key>
      <string>{2035,1632}</string>
      <key>textureFileName</key>
      <string>JackpotWheel</string>
    </dict>
  </dict>
</plist>
